# IntelliJ
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/
ENV/

# Specific files
port_scanner_output.txt
/hackerranks/wordle/temp_diff.txt
/forfun/autosurvey/my_env.py

# CSVs
*.csv